<header id="top-header">
    <div class="sitename">
        <a class="links" href="/" title="Return to home page">
            <div class="icon_name_container">
                <img src="/images/site/icon.png" alt="cse_motors_icon.png">
                <h1>
                    CSE Motors
                </h1>
            </div>
        </a>
    </div>
    <div id="tools">
        <a class="links" title="Click to log in" href="/account/login">My Account</a>
    </div>
</header>